[user]
  name = Luke Moderwell
  email = luke.moderwell@gmail.com
[github] 
  user = lukemoderwell
        
[core]
  excludesfile = ~/.gitignoreg
  autocrlf = input

[alias]
  pr = "!f() { git fetch $1 pull/$2/head:pull/$2 && git checkout pull/$2; }; f"
  pretty-log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  leaderboard = shortlog -sn --all --no-merges
  recent = for-each-ref --count=3 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\"
  today = log --since=00:00:00 --all --no-merges --oneline --author=luke.moderwell@gmail.com
  recap = log --all --oneline --no-merges --author=luke.moderwell@gmail.com
  graph = log --graph --all --decorate --stat --date=iso

[push]
  default = simple

[credential]
  helper = osxkeychain

[filter "media"]	
  clean = git media clean %f
  smudge = git media smudge %f
  required = true

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
