# Quick Source
alias ...='source ~/.bash_profile'
# bat > cat
alias cat=bat
# better reverse search (ctrl+r)
alias preview="fzf --preview 'bat--color \"always\" {}'"
# Jekyll
alias jstart='bundle exec jekyll serve'
alias be='bundle exec'
# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true killall Finder"
