# Timestamp
timestamp() {
  date +"%Y%m%d%H%M%S" | pbcopy
}

# Video/Image Editing
compressMP4 () {
  ffmpeg -i $1 -vcodec h264 $2
  echo -e "compression complete. \n$2 created." 
}

firstFrame () {
  ffmpeg -i $1 -vf "select=eq(n\,0)" $2.jpg
  echo -e "created $2.jpg"
}

movToMP4() {
  ffmpeg -i $1 -vcodec copy -acodec copy $2.mp4
  echo -e "\n$1 converted to MP$"
}
